body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.error-page {
  margin: 100px 0 40px;
  text-align: center;
}

.error-page__header-image {
  width: 25%;
}

.error-page__title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 31px;
}

.error-page__link {
  color: black;
}

.error-page__link:hover {
  text-decoration: none;
}

.volver {
  padding: 10px;
  color: white;
  background-color: cornflowerblue;
  border-radius: 10%;
}

.volver:hover {
  text-decoration: none;
  color: white;
}
